@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Roboto:ital,wght@0,300;0,500;1,100&display=swap');


body {
    font-family:  'Montserrat', sans-serif;
}


.navbar a {
    color: black;
}

.intro {
    min-height: 100vh;
    background-image: url(https://res.cloudinary.com/dblrvhi8r/image/upload/v1636187791/4_yuewg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.over-lay {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    bottom: 0;
    background-color: #a0eb9446;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    flex-direction: column;
}

.tray {
    background-color: #a0eb9446;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 3rem;
    margin: 0 auto;
    border-radius: 5px;
    max-width: 80vw;
}

.create {
    background-image: url(https://res.cloudinary.com/dblrvhi8r/image/upload/v1636187791/leaf2_xwepyb.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

.create .navbar  a {
    color: white;
}

.navbar-brand {
    font-size: 3rem;
}


body > div > div.over-lay > div > a {
    background-color: black;
    padding: .3rem .8rem;
    color: white;
    text-decoration: none;
}


.image {
    border-radius: 50;
}

