<div class="intro">
    {% extends 'base.html' %}
    {% import 'macros.html' as macro%}


    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}

    {% block content %}
      <div class="container">
        {% if pitches %}
        {% for pitch in pitches %}
          <div class="pitch-item tray">
              <h4>{{ pitch.pitch }}</h4>
              <a href=" {{ url_for('main.comment', pitch_id = pitch.pitch_id) }}">comment</a>
          </div>
        {% endfor %}
        {% endif %}
      </div>

    {% endblock %}
</div>